@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset css */
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "DM Sans", sans-serif;
  transition: all 0, 5s;
  -webkit-transition: all 0, 5s;
  -moz-transition: all 0, 5s;
  -ms-transition: all 0, 5s;
  -o-transition: all 0, 5s;
}

body {
  overflow-x: hidden;
}
